.container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 253, 253, 0.5);
  }
  
  input {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    margin-left: 3%;
  }
  h2 {
    text-align: center;
  }
  
  .form {
    background: #fff;
    border: none;
  }
  .form-group {
    margin: 20px;
  }
  .form-btn {
    margin: 30px;
    display: flex;
    justify-content: space-around;
  }

  .btn-cancel {
    background: rgb(120, 117, 117);
    height: 30px;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    padding: 7px;
  }
  .btn-submit{
    padding: 7px;
    height: 30px;
    background: rgb(44, 83, 152);
    border-radius: 3px;
    border: none;
    color: #fff;
  }
  .btn-cancel:hover {
    background: rgb(77, 77, 77);
  }
  .btn-add {
    background: rgb(48, 211, 78);
    padding: 7px;
    width: 60px;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 15px;
  }
  .btn-add:hover {
    background: rgb(30, 112, 45);
  }
  .invalid-feedback {
    color: red;
  }